body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.insert-image-div {
    padding: 50px 0;
}

    .insert-image-div .row img#imagePreview {
        width: 100%;
    }

/*Start From Here */

.inputFile-div {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 9px;
    border-radius: 5px;
    width: 230px;
    margin-bottom: 10px;
}

.Perview-img {
    padding-left: 28px;
}

/*Cart Product*/

.product-card center{
    height: 200px;  
}
.product-card {
    /*width:25%;*/
    height: 350px;
    padding: 10px;
    margin: 10px;
}

    .product-card img {
        width: 190px;
        height: 100%;
    }
